<mat-card>
  <mat-card-title>New Device</mat-card-title>
  <form #formDevice="ngForm" novalidate>


    <mat-form-field appearance="fill">
      <mat-label>Category</mat-label>
      <mat-select [(ngModel)]="device.category" name="category" required>
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Color" [(ngModel)]="device.color" name="color" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="partNumber" [(ngModel)]="device.partNumber" name="partNumber" required>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createDevice()" [disabled]="submitingData || formDevice.invalid" color="primary">
    Salvar
  </button>

  <button mat-raised-button (click)="cancel()">
    Cancelar
  </button>
</mat-card>