<mat-card>
  <mat-card-title>New Category</mat-card-title>

  <form #formDevice="ngForm" novalidate>
    <mat-form-field>
      <input maxlength="128" matInput placeholder="Category" [(ngModel)]="category.name" name="category" required>
    </mat-form-field>
  </form>

  <button mat-raised-button (click)="createCategory()"
    [ngClass]="{'button-active': !submitingData || !formDevice.invalid}"
    [disabled]="submitingData || formDevice.invalid" color="primary">
    Save
  </button>

  <button class="button-cancel" mat-raised-button (click)="cancel()">
    Cancel
  </button>
</mat-card>