table {
    width: 100%;
    background: #474747;
  }
  
  th {
    color: #8b8b8b;
    font-weight: 600;
  }

  td {
    color: #f1f1f1;
  }
  
.delete {
  color: #8b8b8b
}

.delete:hover {
  color: #fff;
  cursor: pointer;
}