button {
  background: #c054be;
  color: #fff;
  margin: 25px 123px;

  width: 200px;
  height: 50px;
  font-size: 1rem;

  border-radius: 40px;;
}

button:hover {
  background: #a239a0;
}

.icon {
  display: inline;
  padding-right: 10px;
}